body {
  color:DeepSkyBlue;
  font-family: 'Orbitron', sans-serif;
}
div{
  background-color:DarkBlue
}

body{
  background-image: url('https://images7.alphacoders.com/336/thumb-1920-336739.jpg');
}


#vid{
  border:0px solid white;
}

.AboutMe{
  color:SlateBlue;
  transition:20s;
  border: 2px solid green;

}
.AboutMe:hover{
  color:purple;
  border: 4px solid white;
  font-size: 20px;
}
img{
  width:400px;
}
button{
  padding:100px;
  mar:20px;
  color:purple;
  background-color:blue;
