body {
  background-image: url('https://static.tumblr.com/357ca6ead08f4dafee3e495f435f4704/t7dsy5d/71Hofu5r5/tumblr_static_filename_640_v2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color:white;


}
#title:hover {
    background-color: yellow


}

.sky {
  background-image: url('https://static.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg');


}
< {

}
