body {
text-align: center;
  background-color: darkslategrey;
  color: coral;
font-size: 18pt;
}
div{background-color: lightsteelblue}

#me{background-color: khaki}

img{
  width: 300px;
  height: 500px;
}
.classy{background-color: Maroon;
transition: 2s;
border: 10px dashed antiquewhite;
}

button{
width: 100px
  height: 100px
}

.lazy{
  font-size: 14pt;
}

.idk{
  font-size: 40pt;
}
